{% extends "base.html" %}
{% block metatitle %}{{ SITENAME }}{% endblock %}
{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}
<article>
  <div class="article_text">
    <dl>
      {% for year, year_articles in articles|groupby('date.year')|reverse %}
        {% for _, month_articles in year_articles|groupby('date.month')|reverse %}
          {# A little gross, but works (need a date object to get the month name). #}
          <ul style="list-style: none;">
            {% for article in month_articles %}
            <li>
                <header class="post-inner-content">
                <span class="cat-item"><time datetime="{{ article.date.isoformat() }}">{{ article.date.strftime('%b %d, %Y') }}</time></span>
                <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2></li>
                </header>
            {% endfor %}
          </ul>
        {% endfor %}
      {% endfor %}
    </dl>
  </div>
  <div class="article_meta"></div>
</article>
{% endblock %}